name: xcodebuild

on:
  push:
    branches: [ main ]
env:
    DEVELOPER_DIR: /Applications/Xcode_12.app/Contents/Developer
jobs:
  build:

    runs-on: macos-latest
    strategy:
      matrix:
        run-config:
          - { scheme: 'HTMLString-iOS', destination: 'platform=iOS Simulator,OS=14.0,name=iPhone SE (2nd generation)' }
          - { scheme: 'HTMLString-macOS', destination: 'platform=macOS' }
          - { scheme: 'HTMLString-tvOS', destination: 'platform=tvOS Simulator,OS=14.0,name=Apple TV' }
  
    steps:
      - name: Checkout Project
        uses: actions/checkout@v2
        
      - name: build and test
        run: xcodebuild clean test -scheme '${{ matrix.run-config['scheme'] }}' -destination '${{ matrix.run-config['destination'] }}' -showBuildTimingSummary

